#divs {
  width: 400px; /* רוחב קבוע של 400px */
  padding: 40px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.signup-input {
  margin-bottom: 20px;
}

.signup-input label {
  font-size: 18px;
  display: block;
}

.signup-input input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: #0056b3;
}

#message {
  text-align: center;
  color: red;
}

input {
  border: 1px solid black; /* גבול בעובי 1 פיקסל בצבע שחור */
}

/* סידור למסכים בגודל גדול יותר */
@media screen and (min-width: 1200px) {
  #divs {
      width: 600px; /* רוחב קבוע של 600px */
      padding: 60px;
  }

  .signup-input label {
      font-size: 20px; /* גודל הגופן גדול יותר */
  }

  .signup-input input {
      font-size: 18px; /* גודל הגופן גדול יותר */
  }

  #button {
      padding: 20px; /* כפתור גדול יותר */
      font-size: 20px; /* גודל הגופן גדול יותר */
  }
}

/* סידור למסכים בגודל נמוך יותר */
@media screen and (max-width: 600px) {
  #divs {
      width: 90%; /* רוחב 90% */
      padding: 20px; /* ריווח בתוך ה-div */
  }

  .signup-input label {
      font-size: 16px; /* גודל הגופן קטן יותר */
  }

  .signup-input input {
      font-size: 14px; /* גודל הגופן קטן יותר */
  }

  #button {
      padding: 12px; /* כפתור קטן יותר */
      font-size: 16px; /* גודל הגופן קטן יותר */
  }

}